* {
    margin: 0px;
    padding: 0px;
}

body {
    color: whitesmoke;
    font-family: didot;
    background: url(moto2.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.courses {
    margin: 100px 200px;
    padding-top: 65px;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 25px;
    text-align: center;
}

.info {
    margin: 40px;
    text-align: center;
    padding-top: 125px;
}

.main {
    margin: 50px 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.links {
    text-align: right;
    margin: 10px;
}

.welcome {
    margin: 10px 60px 10px 30px;
}

ul {
    list-style-type: none;
}

.title {
    text-decoration: underline;
    text-decoration-thickness: 2px; 
}

p {
    font-size: 20px;
}

h1, h2 {
    font-weight: bold;
}

a {
    color: whitesmoke;
}

.yelp {
    text-decoration: underline;
    color: red;
}

.box {
    padding-top: 65px;
    font-size: 20px;
    text-align: center;
}
